################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitDotNetCoreWebApp/.vs/GitDotNetCoreWebApp/DesignTimeBuild/.dtbcache
/GitDotNetCoreWebApp/.vs/GitDotNetCoreWebApp/v15/Server/sqlite3/db.lock
